<div class="row">
    <div class="col-md-12 col-sm-12">
      <ol class="breadcrumb">
        <li><a href="/adminMain">Home</a></li>
        <li class="active">Class Schedules</li>
      </ol>
    </div>
</div>
<!-- THIS SECTION IS FOR VIEW -->
<form class="form-horizontal">

<div ng-hide="editorEnabled">
    <div>
      <div id="student_content" >
          <div id="personal-information" class="panel panel-default" auto-height>
                  <div class="panel-heading clearfix">
                      <div class="panel-title">Class Schedules</div>
                  </div>
              <div class="panel-body">
				<iframe src="http://teamrks.com/schedule#.VPOyhlPF-ts" class="col-md-12" height="800"></iframe>
				<!--<object data=http://teamrks.com/schedule#.VPOyhlPF-ts width="800" height="800"> <embed src=http://teamrks.com/schedule#.VPOyhlPF-ts width="800" height="800"> </embed> Error: Embedded data could not be displayed. </object> -->
              </div>
              <!-- end panel body -->
          </div>
        </div>
    </div>
<!-- END SECTION FOR VIEW -->



</form>


